.WeatherInfo li {
  list-style: none;
  display: flex;
}

.Icon {
  width: 100px;
  margin: auto;
}

.Description {
  padding: 0;
}
.Date {
  padding: 0;
}
.Temperature {
  font-size: 50px;
  color: #85878b;
}
